@font-face {
  font-family: 'Nexa-Light';
  src: url('common/fonts/2BB4FD_0_0.eot');
  src: url('common/fonts/2BB4FD_0_0.eot?#iefix') format('embedded-opentype'),url('common/fonts/2BB4FD_0_0.woff') format('woff'),url('common/fonts/2BB4FD_0_0.ttf') format('truetype');
}

@font-face {
  font-family: OpenSans-Light;
  src: url(common/fonts/OpenSansLight.ttf);
}

body{
  font-size: 18px;
  background: $color-darkestgrey;
  color: $color-mediumgrey;
  font-family: "Nexa-Light";
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
}

body *{
  box-sizing: border-box;
}

h1, p, pre {
  margin-bottom: 10px;
}

p{
  line-height: 28px;
}

a, span{
  display: inline-block;
}

a{
  color: $color-lime;
  &:hover{
    color: $color-cream;
  }
}

// fix for ace mobile scroll bug
.ace_scrollbar{
  height: 100% !important;
}