@font-face {
	font-family: 'icomoon';
	src:url('/common/fonts/icomoon.eot?xaeel3');
	src:url('/common/fonts/icomoon.eot?#iefixxaeel3') format('embedded-opentype'),
		url('/common/fonts/icomoon.woff?xaeel3') format('woff'),
		url('/common/fonts/icomoon.ttf?xaeel3') format('truetype'),
		url('/common/fonts/icomoon.svg?xaeel3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rocket:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}
