// media query breakpoints
$break-small: 320px;
$break-small-a: 500px;
$break-small-b: 600px;
$break-medium: 700px;
$break-medium-a: 800px;
$break-medium-b: 900px;
$break-large: 1100px;

// colors
$color-pitch: #1F1F1F;
$color-deepgrey: #262626;
$color-darkestgrey: #404040;
$color-darkgrey: #626262;
$color-mediumgrey: #9B9B9B;
$color-lightgrey: #C2C2C2;
$color-greyhighlight: #EDEDED;
$color-salmon: #f92672;
$color-lime: #A7E040;
$color-lightblue: #6BD9ED;
$color-cream: #F8F8F2;

// spacing
$content-padding: 20px;