@include component(button){
  background: blue;
  padding: 10px;
  color: #e2e2e2;
  border-radius: 5px;

  @include option(large){
    padding: 20px;
    font-size: 40px;
  }

  @include option(critical){
    color: red;
    margin-left: 300px;
    border-bottom: 5px solid red;
  }

  @include option(small){
    font-size: 12px;
    padding: 10px; 
  }

  @include part(icon){
    background: blue;
    width: 15px;
    height: 15px;
    display: inline-block;

    // parts can also have their own mods
    @include option(vertical){
      background: black;
    }

    // parts can react to their containing component's mods as well. 
    @include whenComponentOption(large){
      box-shadow: 0 0 10px 5px yellow;
      
      // parts can react to component's mods AND part's mods
      @include option(special){
        border: 5px solid red;
      }

    }
  }
}