aBlockMixin(name){
  outerSel = selector();

  & .{name} {
    {block}
    sel: selector()
    outerSel: outerSel
  }
}

+aBlockMixin(joe){
  color: blue;

  +aBlockMixin(bob){
    color: green;
  }
}