@mixin component($name){
  .#{$name}{
    @content
  }
}


// parts are the pieces that make up the structure of a component.
// Specificity: 0010 when used by itself,
// 0030 when used inside with a modifier
@mixin part($name){
  & &__#{$name}{
    @content
  }
}


@mixin option($name){
  &.\--#{$name}{
    @content;
  }
}

// allow parts to respond to options on parents
// TODO: update this once sass 3.4.0 is released,
// can use & in sassscript so we won't have to pass parent and part
@mixin whenParentOption($option, $parent, $part){
  
  @at-root .#{$parent}.\--#{$option} .#{$parent}__#{$part} {
    @content;
  }

  // future version
  // $withParent: str-insert(#{&}, ".\--#{$option}", 8);
  // @at-root #{$withParent} {
  //   @content;
  // }
}

// Specificity: 0110
// Overrides components, options, and modifiers.
@mixin tweak($name){
  #csstyle .#{$name}{
    @content;
  }
}


// Use locations sparingly. It is usually better to add another
// option to your component, or use a tweak.
// Specificity: 0111 to 0120
// Overrides: components, parts, options, and tweaks
@mixin location($name){
  #csstyle .#{$name}{
    @content;
  }
}