@include location(home){
  @include component(ace_editor){
    background: $color-deepgrey;
    font-size: 14px;
    border-radius: 4px;

    @include when($break-medium){
      font-size: 18px;
    }

    .ace_active-line {
      background: rgba(#fff, 0.2);
    }
  }
}