@include component(button) {
  background: #6BD9ED;
  padding: 15px;

  @include option(action){
    color: #1F1F1F;
    background: #A7E040;
    padding-top: 0;
  }

  @include part(icon){
    font-size: 34px;
    position: relative;
    top: 10px;
    font-family: 'icomoon';

    @include option(rocket){
      &:before {
        content: "\e600";
      }
    }

    @include option(download){
      &:before {
        content: "\e601";
      }
    }

    
  }
}