@include component(logo){
  position: relative;
  white-space: nowrap;
  font-size: 70px;
  margin-bottom: 30px;
  margin-top: 30px;
  
  @include when($break-small-a){
    font-size: 100px;
  }

  @include when($break-small-b){
    font-size: 120px;
  }
  
  @include when($break-medium) {
    font-size: 140px;
  }

  @include part(dashes){
    position: relative;
    top: 4px;
  }

  @include part(cs){
    color: $color-lightblue;
  }
}