@include component(section){
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px solid $color-greyhighlight;

  @include option(white){
    background: #fff;
    color: $color-darkgrey;

    @include part(title){
      color: $color-salmon;
    }
  }

  @include option(darkgrey){
    background: $color-darkgrey;
    color: $color-greyhighlight;

    @include part(title){
      color: $color-lime;
    }  
  }

  @include option(pitch){
    background: $color-pitch;
  }

  @include part(title){
    font-size: 40px;
    color: $color-lightblue;
  }

  @include part(label){
    font-size: 12px;
  }

  @include part(result){
    border: 1px dashed $color-lightgrey;
    padding: $content-padding;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;

    a{
      color: #000;
    }
  }
}