@include component(tagline){
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  line-height: 50
  px;

  @include when($break-medium){
    font-size: 35px;
  }

  @include when($break-medium){
    font-size: 46px;
  }
  // @media screen and (max-width: $break-small) {
  //   font-size: 40px;
  // }
}