@include location(tryit){
  @include component(button){
    font-size:  22px;
    margin: 30px 0 40px;
    // background: $color-lightblue;
    // background: $color-lightgrey;
    background: $color-deepgrey;
    // color: $color-pitch;
    color: $color-lightblue;
    cursor: pointer;
    text-decoration: none;

    &:hover{
      color: $color-cream;
    }

    @include part(icon){
      font-size: 40px;
    }
  } 
}