@include tweak(text-center){
  text-align: center;
}

@include tweak(text-left){
  text-align: left;
}

@include tweak(highlight){
  color: $color-lightblue;
  font-weight: 700;
}

@include tweak(lowlight){
  color: $color-salmon;
  font-weight: 700;
}

@include tweak(content-center){
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $content-padding;
  padding-right: $content-padding;
}