@include tweak(centered){
  margin-left: auto;
  margin-right: auto;
}

@include tweak(text-centered){
  text-align: center;
}

@include tweak(highlight){
  color: $color-salmon;
  font-weight: bold;
}