@include tweak(text-center){
  text-align: center;
}

@include tweak(text-left){
  text-align: left;
}

@include tweak(highlight){
  color: $color-lightblue;
  font-weight: 700;
}

@include tweak(lowlight){
  color: $color-salmon;
  font-weight: 700;
}

@include tweak(content-center){
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $content-padding;
  padding-right: $content-padding;
}

@include tweak(space-medium){
  margin: 20px;
}

@include tweak(glass){
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .8), 
              inset 0 9px 1px rgba(0, 0, 0, .1);
}

@include tweak(rounded){
  border-radius: 10px;
}