component(tweet){
  background: #fff;

  option(promoted){
    border-bottom: 1px solid yellow;

    part(profile){
      border: 5px solid green;

      part(img){
        float: left;

        part(header){
          clear: both;
        }

      }
    }
  }
}
