@function _csstyle_start_component($components) {
  $location: null;
  $tweak: null;
  
//  @if length($_csstyle_rules) > 0 {
//    $current: nth($_csstyle_rules, length($_csstyle_rules));
//    
//    $location: map-get($current, 'location');
//    $tweak: map-get($current, 'tweak');
//  }
  
  $_csstyle_rules: append($_csstyle_rules, (
    'location': $location,
    'tweak': $tweak,
    'component': $components,
    'parts': (),
    'options': (),
  )) !global;
  
  @return $_csstyle_rules;
}

@function _csstyle_stop_component() {
  $_csstyle_rules: remove-nth($_csstyle_rules, length($_csstyle_rules)) !global;
  
  @return $_csstyle_rules;
}
