@function tweak($name) {
  @return '.' + escape-symbols($csstyle-tweak-symbol + $name);
}

@function _csstyle_start_tweak($tweaks) {
  $parent: '';
  
  @if (length($_csstyle_rules) > 0) {
    $compiled: _csstyle_compile();
    
    @if (& != null) and (selector-parse($compiled) != selector-parse(&)) {
      $parent: &;
    }
  } @elseif (& != null) {
    $parent: &;
  }
  
  $_csstyle_rules: append($_csstyle_rules, (
    'parent': $parent,
    'location': (),
    'tweak': $tweaks,
    'component': (),
    'parts': (),
    'options': (),
  )) !global;
  
  @return $_csstyle_rules;
}

@function _csstyle_stop_tweak() {
  $_csstyle_rules: remove-nth($_csstyle_rules, length($_csstyle_rules)) !global;
  
  @return $_csstyle_rules;
}
