@import 'csstyle';
$i: 1;

/**
 * Test #{$i}
 */
@include component(tst#{$i}-c) {
  width: 1px;
}

@include location(tst#{$i}-l) {
  @include component(tst#{$i}-c) {
    width: 2px;
  }
}

$i: $i + 1;


/**
 * Test #{$i}
 */
@include component(tst#{$i}-c) {
  @include part(tst#{$i}-p) {
    width: 1px;
  }
}

@include location(tst#{$i}-l) {
  @include component(tst#{$i}-c) {
    @include part(tst#{$i}-p) {
      width: 2px;
    }
  }
}

$i: $i + 1;


/**
 * Test #{$i}
 */
@include component(tst#{$i}-c) {
  width: 1px;
  
  @include option(tst#{$i}-o) {
    width: 2px;
  }
}

@include location(tst#{$i}-l) {
  @include component(tst#{$i}-c) {
    width: 3px;
  }
}

$i: $i + 1;


/**
 * Test #{$i}
 */
@include component(tst#{$i}-c) {
  width: 1px;
  
  @include option(tst#{$i}-o) {
    width: 2px;
  }
}

@include location(tst#{$i}-l) {
  @include component(tst#{$i}-c) {
    width: 3px;
    
    @include option(tst#{$i}-o) {
      width: 4px;
    }
  }
}

$i: $i + 1;


/**
 * Test #{$i}
 */
@include tweak(tst#{$i}-t) {
  width: 1px;
}

@include location(tst#{$i}-l) {
  @include tweak(tst#{$i}-t) {
    width: 2px;
  }
}

$i: $i + 1;


/**
 * Test #{$i}
 */
@include component(tst#{$i}-c1) {
  width: 1px;
  
  @include option(tst#{$i}-o) {
    width: 2px;
  }
}

@include component(tst#{$i}-c2) {
  @include component(tst#{$i}-c1) {
    width: 3px;
  }
}

$i: $i + 1;


/**
 * Test #{$i}
 */
@include component(tst#{$i}-c1) {
  width: 1px;
  
  @include option(tst#{$i}-o) {
    width: 2px;
  }
}

@include component(tst#{$i}-c2) {
  @include component(tst#{$i}-c1) {
    width: 3px;
    
    @include option(tst#{$i}-o) {
      width: 4px;
    }
  }
}

$i: $i + 1;
