@import 'csstyle';

@include component(c1) {
  @include part(p1) {
    top: 0;
  }
}

@include component(c1) {
  @include part(p1, p2) {
    top: 0;
  }
}

@include component(c1, c2) {
  @include part(p1) {
    top: 0;
  }
}

@include component(c1, c2) {
  @include part(p1, p2) {
    top: 0;
  }
}

@include tweak(t1) {
  @include part(p1) {
    top: 0;
  }
}

@include location(l1) {
  @include part(p1) {
    top: 0;
  }
}
